<h1>Productos Limpieza</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Productos</th>
            <th scope="col">Precio</th>
            <th scope="col">Detalle</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of productList">
            <th scope="row">{{product.id}}</th>
            <td>{{product.name}}</td>
            <td>{{product.price | currency}}</td>
            <button type="button" class="btn btn-outline-primary"
                [routerLink]="['/products', 'Lavandina']">Detalle</button>
        </tr>

    </tbody>
</table>